// 自定义样式
.navbar
  .logo
    height 2.8rem
    min-width 2.8rem
    max-width 3rem
    margin-right 1rem
    vertical-align middle
    border-radius 50%
    object-fit cover

.home-wrapper
  .banner
    padding 4rem 2rem
    background-image linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/banner.jpg')
    background-size cover
    background-position center
    background-repeat no-repeat
    min-height 300px
    max-height 500px
    height 40vh
    display flex
    align-items center
    justify-content center
    position relative
    
    @media (max-width: 719px)
      padding 3rem 1rem
      min-height 250px
      height 30vh
    
    @media (min-width: 1200px)
      height 50vh
      max-height 600px